<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<h1>サンプル掲示板</h1>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td><a th:href="@{/edit/{id}(id=${content.id})}">
					<button type="button">編集</button>
			</a></td>
			<td>
				<form th:action="@{/delete/{id}(id=${content.id})}"
					th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
		</tr>
	</table>
	<table>
		<tr>
		<td>
		<form th:action="@{/}" method="get">

		テスト

		<button value="button">絞り込み</button>
	</form>

		</td>
		</tr>

	</table>
</body>
</html>